/* Main stylesheet */

/* Poppins and Lato fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', 'Lato', Arial, sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 300;
}

h2 {
    margin-top: 30mm;
    font-size: 2em;
    font-weight: 200;
}

h3 {
    margin-top: 15mm;
    font-size: 1.5em;
    font-weight: 200;
}

h4 {
    margin-top: 5mm;
    font-size: 1.2em;
    font-weight: 300;
}

/* Use on elements that should not be split across pages when printing */
.no-break {
    page-break-inside: avoid;
}

/* Image centering container */
.img-container {
    width: 100%;
    text-align: center;
}

/* Enforces page break before element */
.break-before {
    page-break-before: always;
}

/* Enforces page break after element */
.break-after {
    page-break-after: always;
}

/* Basic table styles */
td, th {
    padding: 0.5rem;
    border: 1pt solid black;
}
table {
    text-align: left;
    border-collapse: collapse;
}

/* Table centering container */
.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30pt;
}

.no-split {
    page-break-inside: avoid;
}